main {
    padding: 5px;
    margin: 2px 5px 4px;
}

input {
    text-align: right;
    background-color: grey;
    width: 300px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 30px;
}

table {
    display: inline-block;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}