main {
    margin: 10px;
    padding: 5px 7px 5px;
}

input {
    text-align: right;
    background-color: white;
    width: 330px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
}

table {
    display: inline-block;
    padding: 20px;
    background-color: grey;
    border-radius: 10px;
}

.displaytable {
    display: table;
}

.displaytable-cell {
    display: table-cell;
}
  
.button {
    width: 40px;
    height: 15px;
    font-size: 16px;
    border-radius: 8px;
}

.blackbutton { 
    background-color: black; 
    color: grey;
}

.greenbutton {
    background-color: green;
}

.greybutton {
    background-color: grey;
}

.bluebutton {
    background-color: blue;
}

.redbutton {
    background-color: red;
}