main {
    margin: 10px;
    padding: 5px 7px 5px;
}

input {
    text-align: right;
    background-color: white;
    width: 330px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 30px;
}

table {
    display: inline-block;
    padding: 20px;
    background-color: grey;
    border-radius: 10px;
}

.displaytable {
    display: table;
}

.displaytable-cell {
    display: table-cell;
}
  
.button {
    width: 60px;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
}

.blackbutton { 
    background-color: black; 
    color: white;
}

.greenbutton {
    background-color: #91ff7d;
}

.greybutton {
    background-color: #cccccc;
}

.bluebutton {
    background-color: #6288f3;
}

.redbutton {
    background-color: #f76767;
}